.content {
  display: flex;
  min-width: var(--max-content-width);
  min-height: 100%;
  background-color: var(--color-grey-2);
  border-radius: 2rem;
  padding: 2.5rem;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    justify-content: space-between;
  }

  .imgContainer {
    width: 50%;
    height: 100%;
    border-radius: 1rem;

    .image {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2.5rem;

    @media screen and (max-width: 1000px) {
      margin-left: 0;
    }
  }
}