.content {
  display: flex;
  min-width: var(--max-content-width);
  min-height: 100%;
  background-color: var(--color-grey-2);
  border-radius: 2rem;
  padding: 2.5rem;

  .imgContainer {
    display: flex;
    width: 50%;
    border-radius: 1rem  0 0 1rem;

    .lookable {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 1rem  0 0 1rem;
      overflow: hidden;
    }
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    justify-content: space-between;

    .imgContainer {
      width: 100%;
      border-radius: 1rem  1rem 0 0;

      .lookable {
        border-radius: 1rem  1rem 0 0;
        min-height: 30rem;

        iframe {
          min-height: 30rem;
        }
      }
    }
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2.5rem;
    width: 50%;

    @media screen and (max-width: 1000px) {
      margin-left: 0;
      width: 100%;

      .button {
        margin-top: 1rem;
      }
    }
  }
}