<div class="container">
    <div class="contentContainer">
        <div class="nav">
            <app-nav></app-nav>
        </div>
        <div class="content">
            <app-content [active]="getActive()" (contentChange)="nextSelection()"></app-content>
        </div>
        <div class="contentSlider">
            <app-content-slider [contentList]="contentList"
                                (selectionChange)="changeSelection($event)">
            </app-content-slider>
        </div>
    </div>
</div>


