.container {
  height: 100vh;
  width: 100vw;
  position: relative;

  .navContainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;

    .nav {
      position: absolute;
      top: 5rem;
    }
  }

  .contentSlider {
    position: absolute;
    left: calc((100vw - var(--max-content-width)) / 2);
    bottom: 5rem;
  }
}