.nav {
  display: flex;
  align-items: center;
  width: var(--max-content-width);
  height: 6rem;
  padding: 0 .5rem;
  box-shadow: rgba(50, 50, 93, .25) 0 13px 27px -5px, rgba(0, 0, 0, .3) 0 8px 16px -8px;
  border-radius: 1.5rem;

  .logo {
    height: 100%;
    transform: scale(3);
    padding: 0 3rem;
  }

  .elements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    .element {
      padding: .5rem 1rem;
      border-radius: 1rem;
      transition: background-color .3s, color .3s;
      cursor: pointer;

      &:hover {
        background-color: var(--color-black);

        h4 {
          color: var(--color-yellow);
        }
      }

      &.active {
        background-color: var(--color-blue);

        h4 {
          color: white;
        }
      }
    }
  }

  .mode {
    display: flex;
    align-items: center;
    background-color: var(--color-grey-1);
    border-radius: 1rem;
    height: 5rem;
    padding: 0 1.5rem;
    transition: background-color .3s;
    cursor: pointer;

    &:hover {
      background-color: var(--color-grey-2);
    }

    .icon {
      width: 3.2rem;
      height: 3.2rem;
      margin-right: 1rem;
    }

    .modename {

    }
  }
}